<% include_stylesheet "admin/pgn_replay.css" %>
<h1>Remove PGN Game/Position</h1>

<p> 
  Are you sure you want to 
  <strong class="warning"> permanently remove</strong>
  the following PGN?</p>

<h2><%= @pgn_replay.title %></h2>
<pre style=" white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
  <%= @pgn_replay.pgn_text %>
</pre>
<p><%= @pgn_replay.tags %></p>

<%- form_for [:admin, @pgn_replay], :html => {:method => :delete} do %>
<p class="buttons">
    <%= submit_tag "Delete Game" %>
    or
    <%= link_to 'Cancel', admin_pgn_replays_url%></p>
<% end %>